[user]
	name = suin
	email = suinyeze@gmail.com

[core]
	excludesfile = /Users/suin/.gitignore
	pager = less -r
	quotepath = false
	editor = micro
	commentchar = ";"

[color]
	ui = auto

[pull]
  rebase = preserve

[push] ; https://git-scm.com/docs/git-push
	; Push git commits & tags simultaneously.
	; You may override this configuration at time of push by specifying --no-follow-tags.
  followTags = true

[commit] ; https://git-scm.com/docs/git-commit
	template = ~/.gitmessage ; When editing the commit message, start the editor with the contents in the given file.

[fetch] ; https://git-scm.com/docs/git-fetch
	prune = true ; Before fetching, remove any remote-tracking references that no longer exist on the remote.

[rebase]
	preserve-merges = true

[apply] ; https://git-scm.com/docs/git-apply
	whitespace = nowarn ; turns off the trailing whitespace warning.

[grep]
	lineNumber = true

[diff]
	tool = Kaleidoscope

[difftool]
	prompt = false

[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[merge]
	ff = false
	tool = Kaleidoscope

[mergetool]
	prompt = false

[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true

[tig "bind"]
	diff = F ?!git commit --fixup %(commit)
	diff = S ?!git commit --squash %(commit)
	main = F ?!git commit --fixup %(commit)
	main = S ?!git commit --squash %(commit)

[alias]
	b = branch
	br = branch -a
	i = !git init && git commit --allow-empty --message 'chore: create an empty git repository'

[remind]
 	paths = /Users/suin/go/src/github.com/suin/*,/Volumes/dev/*
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[init]
	defaultBranch = main
